<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./templates/head.ejs", {title : "Willi RolePlay | Iranian RolePlay Server", css : ['homePage.css']}) %>
</head>
<body>
  <%- include("./templates/header.ejs") %>
</body>
</html>